
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
assets/RenderData.dart
assets/RenderData.dart.meta
assets/RenderDataonbufferfill.dart
assets/RenderDataonbufferfill.dart.meta
